<table class="index">
  <tr>
    <th><%= t("name") %></th>
    <th></th>
  </tr>
<% for taxonomy in @taxonomies %>
  <tr id="<%= dom_id taxonomy %>">
	  <td>
	    <%= taxonomy.name %>
    </td>
    <td class="actions">
      <%= link_to_edit taxonomy.id if can?(:edit, taxonomy) %> &nbsp; <%= link_to_delete taxonomy if can?(:destroy, taxonomy) %>
    </td>
  </tr>
<% end %>
</table>

