<%= render :partial => 'admin/shared/product_sub_menu' %>

<h1><%= t("inventory_management") %></h1>
<h4><%= t("title_list_inventory") %></h4>
<hr><br>

<%= form_tag admin_inventory_path, :method => :put  do %>

<table class="index">
	<thead>
	  <tr>
			<th width="100"><%= t("sku")%></th>
			<th width="250"><%= t("options") %></th>
			<th width="200"><%= t("on_hand") %></th>
		</tr>
	</thead>
	<tbody>
<% for product in @inventory %>
    <tr id="<%= dom_id product %>">
     <td colspan=3><h3><%= t('product') %>: <%= link_to product.name, edit_admin_product_path(product) %></h3></td>
    </tr>
    <% variants = product.has_variants? ? product.variants : [product.master] %>
		<% for variant in variants %>
		<% unless variant.deleted? %>
		<tr id="<%= dom_id variant %>">
			<td width="100"><%= text_field_tag "variants[#{variant.id}][sku]", variant.sku %></td>
      <td width="250"><%= product.has_variants? ? variant.options_text : "master" %></td>
			<td width="200"><%= text_field_tag "variants[#{variant.id}][on_hand]", variant.on_hand, :size => 3 %></td>

			<% end %>
		  <% end %>
		</tr>
<% end %>
	</tbody>
	<br>
</table>
<br />


<%= submit_tag t('update_inventory') %>

<% end %>

<%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>
