<% @report.increments.each do |type| -%>
<div id="<%= type.to_s %>_data" <%= 'style=display:none;' if type.to_s != 'daily' %> class="advanced_reporting_data">
<div id="<%= type.to_s %>_chart"></div>
<%= raw @report.ruportdata[type].to_html %>
</div>
<% end -%>

<% content_for :sidebar do %>
<div class="report_details">
<h1><%= @report.name %></h1>
<div class="links">
<a href="<%= @report.download_url(request.fullpath, 'pdf', "all") %>">PDF</a> | <a href="<%= @report.download_url(request.fullpath, 'csv', "all") %>">CSV</a>
</div>
<%= @report.description %><br />
<%= @report.product_text %>
<%= @report.taxon_text %>
<%= @report.date_text %><br />
Total: <%= @report.format_total %>
</div>

<ul id="show_data">
    <% @report.increments.each do |inc| %>
    <li <%= 'class=selected' if inc == :daily %> id="<%= inc.to_s %>">
      <label><%= inc.to_s.capitalize %></label><br />
      <a href="<%= @report.download_url(request.fullpath, 'pdf', inc.to_s) %>">PDF</a> | 
      <a href="<%= @report.download_url(request.fullpath, 'csv', inc.to_s) %>">CSV</a>
    </li>
    <% end -%>
</ul>
<%= render :partial => 'admin/reports/advanced_report_criteria', :locals => {} %>
<% end %>

<% content_for :head do -%>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1', {'packages': ['corechart']});	
</script>
<script type="text/javascript">
google.setOnLoadCallback(drawChart);
      
function drawChart() {
	<% @report.increments.each do |type| -%>
        var data_<%= type.to_s %> = new google.visualization.DataTable();
        data_<%= type.to_s %>.addColumn('string', 'Display');
        data_<%= type.to_s %>.addColumn('number', '<%= @report.name %>');
        data_<%= type.to_s %>.addRows(<%= @report.ruportdata[type].size %>);
	<% @report.ruportdata[type].each_with_index do |p, i| %>
        data_<%= type.to_s %>.setValue(<%= i.to_s %>, 0, "<%= p.data[type.to_s.capitalize] %>");
        data_<%= type.to_s %>.setValue(<%= i.to_s %>, 1, <%= p.data[@report.column].to_s.gsub(/^\$/, '') %>);
        <% end -%>
        var chart_<%= type.to_s %> = new google.visualization.ColumnChart(document.getElementById('<%= type.to_s %>_chart'));
        chart_<%= type.to_s %>.draw(data_<%= type.to_s %>, {
		width: 800,
		height: 400,
		legend : 'none',
                hAxis: { slantedText: true, slantedTextAngle: 30 },
		title: '<%= type.to_s.capitalize + ' ' + @report.name %>' });
        <% end -%> 
	
}
</script>
<% end -%>
